@use 'mixins' as *;

$bg: #f7f7f7;

@font-face {
	font-family: 'Montserrat';
	font-weight: 300; // Light
	font-style: normal;
	src: url('../fonts/Montserrat-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 500; // Medium
	font-style: normal;
	src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 600; // SemiBold
	font-style: normal;
	src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700; // Bold
	font-style: normal;
	src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
}

* {
	padding: 0;
	margin: 0;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

button {
	background: none;
	cursor: pointer;
}

ul,
ul li {
	list-style: none;
}

a,
a:link,
a:visited {
	text-decoration: none;
	color: inherit;
}

input,
button,
textarea,
select {
	font: inherit;
}

a:hover {
	text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $bg;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	color: #1a1a18;
}

.container {
	max-width: 1450px;
	margin: 0 auto;
	padding: 0 15px;
}

.h2 {
	font-weight: 600;
	font-size: 30px;
	color: #000;
	margin-bottom: 24px;

	@include vp768 {
		font-weight: 600;
		font-size: 19px;
		color: #000;
	}
}

.no-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.button {
	border-radius: 8px;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	width: fit-content;
	justify-content: center;
	align-items: center;
	gap: 4px;
	color: #fff;
	padding: 16px 10px;
	&.red {
		background-color: #e7440b;
	}
}

.nav-el {
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 999px;
	display: flex;
	align-items: center;
	justify-content: center;
	@include trans(background);

	&:first-child {
		transform: rotate(180deg);
	}

	&.swiper-button-disabled {
		backdrop-filter: blur(5px);
		background-color: #e8e7eb;
	}
}
