---
const nav = ['Автомобили',
	'Сервис',
	'Акции',
	'Услуги',
	'Карьера',
	'Контакты'];
---

<header class="site-header">
	<div class="left">
		<a href="/" class="logo">
			<img src="/images/logo.svg" alt="">
		</a>
		<button class="geo" type="button">
			<svg width="14" height="16">
				<use href="#geo"></use>
			</svg>
			Ульяновск
		</button>
	</div>
	<nav>
		<ul>
			{nav.map((item) => (
				<li><a href="/">{item}</a></li>
			))}
		</ul>
	</nav>
	<div class="unsigned">
		<a class="phone" href="tel:+78005110361">
			<span>8 (800) 511 03 61</span>
			<img src="/images/tel.svg" alt="">
		</a>
		<a class="something" href="/">
			<img src="/images/something.svg" alt="">
		</a>
		<a class="fav" href="/">
			<img src="/images/favorites.svg" alt="">
		</a>
		<a href="/" class="profile">
			<img src="/images/profile.svg" alt="">
			Войти
		</a>
		<button type="button"><img src="/images/burger.svg" alt=""></button>
	</div>
</header>
