---

---

<section class="hero">
    <div class="container no-scrollbar">
        <a class="item" href="/">
            <p>
                <span>300+</span>
                Новые авто
            </p>
            <img src="/images/hero_item1.png" alt="">
        </a>
        <a class="item" href="/">
            <p>
                <span>500+</span>
                С пробегом
            </p>
            <img src="/images/hero_item2.png" alt="">
        </a>
        <a class="item" href="/">
            <p>
                Выкуп авто
            </p>
            <img src="/images/buying_a_car.svg" alt="">
        </a>
        <a class="item" href="/">
            <p>
                Коммерческая <br>
                техника
            </p>
            <img src="/images/commercial_vehicles.svg" alt="">
        </a>
        <a class="item" href="/">
            <p>
                Услуги
            </p>
            <img src="/images/services.svg" alt="">
        </a>
        <a class="item" href="/">
            <p>
                Сервис
            </p>
            <img src="/images/service.svg" alt="">
        </a>
    </div>
</section>
