---
const items = [
	{
		title: 'Новый GEELY ATLAS 2024 <br> от 3 300 000 ₽',
		img: '/images/new_auto_item1.png',
	},
	{
		title: 'Новый GEELY 2025 <br> от 5 100 000 ₽',
		img: '/images/new_auto_item2.png',
	},
];
---

<section class="new-auto container">

	<h2 class="h2">Новые автомобили в Ульяновске</h2>
	<div class="fade-swiper swiper">
		<div class="swiper-wrapper">
			{items.map((item) => (
				<div class="swiper-slide">
					<p set:html={item.title}></p>
					<a class="button" href="/">Подробнее</a>
					<img src={item.img} alt="">
				</div>
			))}
		</div>
		<div class="nav">
			<button class="nav-el swiper-prev">
				<svg width="8" height="12">
					<use href="#right-arrow"></use>
				</svg>
			</button>
			<button class="nav-el swiper-next">
				<svg width="8" height="12">
					<use href="#right-arrow"></use>
				</svg>
			</button>
		</div>
	</div>
</section>

<script src="../scripts/fadeSwiper.js"></script>
